@model IEnumerable<HotelWebApp.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="text-center text-info">
    @ViewBag.StatusMessage
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.NameSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.ShowRoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowReservationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsComplete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.NameSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.ShowRoomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowReservationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsComplete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
